<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  <variable name="logDirectory" value="D:\FUXIN\SourceCode\cpl1dev\Log\WMS"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target name="LogControl"
             xsi:type="File"
             fileName="${logDirectory}/AkkaLog.log"
             archiveFileName="AkkaLog.{#}.log"
             archiveNumbering="DateAndSequence"
             archiveAboveSize="1000000"
             archiveDateFormat="yyyyMMdd"
             archiveEvery="Day"
    />
    <target name="L25MgrLog"
            xsi:type="File"
            fileName="${logDirectory}/WMSMgrLog.log"
            archiveFileName="WMSMgrLog.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1000000"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
    />
    <target name="WMSRcvLog"
            xsi:type="File"
            fileName="${logDirectory}/WMSRcvLog.log"
            archiveFileName="WMSRcvLog.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1000000"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
    />
    <target name="WMSRcvEditLog"
            xsi:type="File"
            fileName="${logDirectory}/WMSRcvEditLog.log"
            archiveFileName="WMSRcvEditLog.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1000000"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
    />
    <target name="WMSSndLog"
            xsi:type="File"
            fileName="${logDirectory}/WMSSndLog.log"
            archiveFileName="WMSSndLog.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1000000"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
    />
    <target name="WMSSndEditLog"
            xsi:type="File"
            fileName="${logDirectory}/WMSSndEditLog.log"
            archiveFileName="WMSSndEditLog.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1000000"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="LogControl" />
    <logger name="WMSMgrLog" minlevel="Debug" writeTo="WMSMgrLog" />
    <logger name="WMSRcvLog" minlevel="Debug" writeTo="WMSRcvLog" />
    <logger name="WMSSndEditLog" minlevel="Debug" writeTo="WMSSndEditLog" />
    <logger name="WMSSndLog" minlevel="Debug" writeTo="WMSSndLog" />
    <logger name="WMSRcvEditLog" minlevel="Debug" writeTo="WMSRcvEditLog" />
  </rules>
</nlog>
