<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="C:\GPLLogRecord\${date:format=yyyyMM}\${date:format=yyyyMMdd}\PcCom"/>

	<targets async="true">

    <target name="AkkaLog"
              xsi:type="File"
              fileName="${logDirectory}/AkkaLog.log"
              archiveFileName="${logDirectory}/AkkaLog.{#}.log"
              archiveNumbering="DateAndSequence"
              archiveAboveSize="1000000"
			        encoding="utf-8"
              archiveDateFormat="yyyyMMdd"
              archiveEvery="Day"
    />

    <target name="PCcomLog"
            xsi:type="File"
            fileName="${logDirectory}/PCcomLog.log"
            archiveFileName="${logDirectory}/PCComLog.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1000000"
			      encoding="utf-8"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
    />
  </targets>
	
	
	<targets async="true">
	<target name="RichTextBox"
			xsi:type="RichTextBox"
			controlName="RichTextBoxConsole"
			formName="ClientCoordinatorForm1"
			useDefaultRowColoringRules="true"
			autoScroll="true"
			maxLines="100"
			layout="${longdate}-${level} ${message} ${onexception:||${exception}||${stacktrace}}"
    />
</targets>
	
	<rules>
    <logger name="PCcomLog" minlevel="Debug" writeTo="PCcomLog" />
		<logger name="PCcomLog" minlevel="Info" writeTo="RichTextBox" final="true"/>
		<logger name="*" minlevel="Debug" writeTo="AkkaLog" />
  </rules>
</nlog>
